<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Your notes</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:each="note : ${notes}" class="card">
            <div class="card-body">
                <h4 th:text="${note.title}">note title</h4>
                <p th:text="${note.text}">note text</p>
                <a th:href="@{/updateNote/{id}(id=${note.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteNote/{id}(id=${note.id})}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <a th:href="@{/create-note-form}">create note</a>
    </div>
</body>
</html>