<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:attribute="hx-put=@{/update-note}" method="post" th:object="${note}" th:action="@{/update-note}" th:fragment="form">
            <input type="hidden" th:value="*{id}" th:field="*{id}">
            <input type="hidden" th:value="*{createdAt}" th:field="*{createdAt}">
            <input type="text" th:value="*{title}" th:field="*{title}" class="form-control">
            <input type="text" th:value="*{text}" th:field="*{text}" class="form-control">
            <input type="submit" th:value="update" class="btn btn-primary">
        </form>
    </div>
</body>
</html>